{% extends "./base.njk" %}

{% block body %}
<h2>Simple Vue Component (Why would you do this?)</h2>
{% vue { component:"HelloWorld" } %}
{% vue { component:"HelloWorld", props: { message: "This is a test" } } %}
{% vue { component:"HelloWorld", props: { message: "Of server rendered Vue components" } } %}
<h2>Todo List</h2>
{% vue { component:"ListComp"} %}
{% vue { component:"ListComp", props: { startlist: [{message:"Render Vue in Nunjucks"}, {message:"???"}, {message:"Profit!"}] } } %}
{% vue { component:"RecordPlayer", props: { record: "https://hearsepileup.rip/music/last_time.mp3" } } %}
{% vue { component:"RecordPlayer", props: { record: "https://hearsepileup.rip/music/generation_y.mp3" } } %}
{% vue { component:"RecordPlayer", props: { record: "https://hearsepileup.rip/music/pretty_shiny_things.mp3" } } %}
<section id="content" role="main" class="content-wrapper">
  {{content|safe}}
</section>
{% endblock %}
